html{
  min-height: 100%;
}

body {
 
  color: black;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.back{
  background-image: url("waves.jpg");
  height: fit-content;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}



/* HEADER */

header {
  background-size: 100%;
  background-position: center;
  min-height: 30vh;
  text-align: center;
}

header a {
  margin-top: 0px;
  color: white
}

header .mobile {
  display: none;
}

header .logo a {
  background-image: url("image.jpg");
  background-size: 100px;
  background-repeat: no-repeat;
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 100px;
  border: 3px solid white;
  border-radius: 50%;
  box-shadow: gray 0 0 10px;
  width: 100px;
}

  header .menu{
  position: relative;
  display: flex;
  background-image: url("menuicon.jpg");
  background-size: 100px;
  background-repeat: no-repeat;
  height: 100px;
  float: left;
  width: 100px;
}

header .home{
  position: absolute;
  text-align: center;
  display: inline-block;
  top: 10px;
}

header .settings{
  display: flex;
  position: relative;
  float: right;
  margin-right: 0;

}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-right:30px;
}

/* RESPONSIVE RULES */

@media screen and (max-width: 300px) {
  header {
    height: 250px;
    background-position: 0 -30px;
  }
  header .mobile {
    display: inline-block;
  }
  header .desktop {
    display: none;
  }
}

/* CONTENT */

.content {
  color: white;
  display: contents;
  text-align: center;
  position: sticky;
}

.content .name{
  
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.content .message{
  display: flex;
  justify-content: center;
  font-weight: lighter;
  font-size: 10pt;
}

   .btn{
     display: flex;
     justify-content: center;
     margin-block-end: 40px;
     margin-block-start: 40px;
  }

  .follow{
    font-weight: 800;
    background-color: #12C4ED;
    width: 100px;
    padding: 10px;
    border-radius: 6px;
   
  }

  .boxes{
    display: flex;
    justify-content: center;
    margin-block-end: 10px;

  }
  .bubbles{
    background-color: white;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
  }

  .yesterday{
    font-weight: bolder;
    font-size: 10pt;
    color: darkgray;
    margin-top: 0%;
  }

  .center img{
    margin: 5px;
    height: 50px;
    width: 50px;
    
  }

/* FOOTER */

footer {
  background: black;
  color: gray;
  font-size: 20px;
  padding: 20px 20px;
  text-align: center;
}
